# Database Configuration (Supabase)
DB_HOST=aws-1-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.uronwoespvhsiwontnrt
DB_PASSWORD=ifE3yoZG4mPyCe3b

# JWT Secret
JWT_SECRET=b599be202e3ad81d292094c178601f7f3c549c50117c6a067d4bf833937398f6

# Server Configuration
PORT=5000
NODE_ENV=development

# File Upload Configuration
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880 